.gradle/
build/
**/build/
.cxx/
.externalNativeBuild/

local.properties
gradle.properties

.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

*.jks
*.keystore

*.apk
*.ap_
*.aab

*.log

captures/
./app/src/main/res/values/secrets.xml